<footer>
        <div class="info-footer">
            <img src="/img/logo_160_x_160_blanco.svg" alt="logo" id="logo-footer">
            <div class="lista-footer">
                <a href="#AvisoPrivacidad"></a>Aviso de Privacidad</a>
                <a href="#TerminosCondiciones"></a>Terminos y Condiciones</a>
                <a href="#Politicas"></a> Póliticas de devolución</a>
            </div>
            <div class="redes-sociales">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-whatsapp"></i>
            </div>
        </div>
        <div>
            <a href="#Legal" class="legal">© 2021 GAMES</a>
        </div>
</footer>