<div class="header-container">
    <div class="nav-bar">
        <button class="dropButton"><i class="fas fa-bars"></i></button>
        <div class="nav-bar-drop">
            <a href="#">Tableros</a>
            <a href="#">Futbolitos</a>
            <a href="#">Maquinitas</a>
            <a href="#">Accesorios</a>
            <a href="/products/listProducts">Productos</a>
            <a href="#">Contacto</a>
        </div>
    </div>
    <div class="logo">
        <a href="/">
            <img src="/img/logo_160_x_160_blanco.svg" alt="Logo">
        </a>
    </div>
    <div class="icono-header">
        <form action="" method="get" id="searchForm">
            <input type="search" name="search" id="search-bar" placeholder="Looking for something amazing">
        </form>
        <button class="buscador-icon">
            <i class="fas fa-search"></i>
        </button>
        <button class="carrito-icon">
            <i class="fas fa-shopping-cart"></i>
        </button>
        <button class="boton-login">
            <i class="fas fa-user"></i>
        </button>
    </div>

</div>