
<header>
    <div class="contenido-header">
        <a href="#" id="boton-hamburguesa">
            <i class="fas fa-bars icono-header"></i>
        </a>
        <nav class="nav-bar">
            <a href="#">Tableros</a>
            <a href="#">Futbolitos</a>
            <a href="#">Maquinitas</a>
            <a href="#">Accesorios</a>
            <a href="#">Contacto</a>
            <a href="/products/listProducts">Todos los productos</a>
        </nav>
        <a href="#" id="boton-buscador">
            <i class="fas fa-search icono-header"></i>
        </a>
        <a href="/" class="logo" id="logo-principal">
            <img src="/img/logo_160_x_160_blanco.svg" alt="logo" class="logo">
        </a>
        <label for="desplegar" id="boton-carrito">
            <i class="fas fa-shopping-cart btn_despiega icono-header"></i>
        </label>
        <button id="boton-login" onclick="desplegar()">
            <i class="fas fa-user icono-header" ></i>
        </button>
    </div>
</header>