<%- include("./head") %>
<script>
    function desplegar(){
        let x = document.getElementById("login-page");
        let y = document.getElementById("main");
        let z = document.getElementById("signup-page");
        if(x.style.display ==="none" & z.style.display ==="none"){
            x.style.display = "flex";
            y.style.filter ="blur(20px)";
        }
        else{
            x.style.display = "none";
            z.style.display = "none"
            y.style.filter = "blur(0)";
        }
    }
</script>
<body>
    <header class="header">
        <a href="#" id="boton-hamburguesa">
            <i class="fas fa-bars icono-header"></i>
        </a>
        <nav class="nav-bar">
            <a href="#">Tableros</a>
            <a href="#">Futbolitos</a>
            <a href="#">Maquinitas</a>
            <a href="#">Accesorios</a>
            <a href="#">Contacto</a>
        </nav>
        <a href="#" id="boton-buscador">
            <i class="fas fa-search icono-header"></i>
        </a>
        <a href="/" class="logo" id="logo-principal">
            <img src="/img/logo_160_x_160_blanco.svg" alt="logo" class="logo">
        </a>
        <label for="desplegar" id="boton-carrito">
            <i class="fas fa-shopping-cart btn_despiega icono-header"></i>
        </label>
        <button id="boton-login" onclick="desplegar()"><i class="fas fa-user icono-header" ></i></button>
        <!-- <a href="/login" id="boton-login">
            <i class="fas fa-user icono-header"></i>
        </a> -->
    </header>
    <%- include('partials/modal') %>
    <div>
        <%- include("./login") %>
    </div>
    <div>
        <%- include("./signup")%>
    </div>
    <main class="main" id="main">
        <section class="seccion-banner">
            <ul class="slider">
                <li id="slide-1">
                    <h2 id="letrero-banner-1">Desde $3,490.00 MXN</h2>
                    <img src="/img/banner.png" alt="banner" id="img-banner-1">
                </li>
                <li id="slide-2">
                    <img src="/img/banner.png" alt="banner" id="img-banner-1">
                </li>
                <li id="slide-3">
                    <img src="/img/banner.png" alt="banner" id="img-banner-1">
                </li>
            </ul>
            <ul class="menu-slider">
                <li>
                    <a href="#slide-1"></a>
                </li>
                <li>
                    <a href="#slide-2"></a>
                </li>
                <li>
                    <a href="#slide-3"></a>
                </li>
            </ul>
        </section>
        <section class="seccion-maquinita">
            <div class="contenedor-img-maquinita">
                <img src="/img/maquinita-derecha.png" alt="img-maquinita" class="img-maquinita">
                <a href="#agregar-maquinita" class="boton-agregar"><i class="fas fa-cart-plus"></i></a>
            </div>
            <div class="descripcion-y-juegos-maq">
                <div class="descripcion">
                    <h3 id="descripcion-maq-1">Maquinita de Mario Bros</h3>
                    <h3 id="descripcion-maq-2">Incluye más de 6000 juegos de múltiples sistemas</h3>
                    <h3 id="descripcion-maq-3">Y 60 titulos de XB360</h3>
                </div>
                <div class="catalogo-juegos-maq">
                    <img src="/img/gtav.jpg" alt="gtav">
                    <img src="/img/halo4.jpg" alt="halo4">
                    <img src="/img/minecraft.jpg" alt="minecraft">
                    <img src="/img/fifa19.jpg" alt="fifa19">
                </div>
        </section>
        <section class="seccion-tablero">
            <div class="contenedor-img-tablero">
                <img src="/img/tablero.png" alt="img-tablero" class="img-tablero">
                <a href="#agregar-tablero" class="boton-agregar"><i class="fas fa-cart-plus"></i></a>
            </div>
            <div class="descripcion-y-juegos-tab">
                <div class="descripcion">
                    <h3 id="descripcion-tab-1">Tablero Marvel vs Capcom</h3>
                    <h3 id="descripcion-tab-2">Incluye más de 5000 juegos de múltiples sistemas</h3>
                </div>
                <div class="catalogo-juegos-tab">
                    <img src="/img/kof.png" alt="kof">
                    <img src="/img/street-fighter.png" alt="street-fighter">
                    <img src="/img/metal-slug.jpg" alt="metal-slug">
                    <img src="/img/mario-bros.jpg" alt="mario-bros">
                    <img src="/img/donkey-kong.png" alt="donkey-kong">
                    <img src="/img/pac-man.jpg" alt="pac-man">
                    <img src="/img/bomberman.png" alt="bomberman">
                    <img src="/img/cadillacs.jpg" alt="cadillacs">
                </div>
            </div>
        </section>
        <section class="seccion-futbolito">
            <div class="contenedor-img-futbolito">
                <img src="/img/futbolito.png" alt="img-futbolito" class="img-futbolito">
            </div>
            <div class="descripcion descripcion-futbolito">
                <h3 id="descripcion-futbolito-1">Futbolito</h3>
            </div>
            <div class="equipos">
                <div class="vs">
                    <img src="/img/chivas.png" alt="chivas" class="img-equipo">
                    <h3>VS</h3>
                    <img src="/img/america.png" alt="america" class="img-equipo">
                    <a href="#agregar-futbolito-chivas-america" class="boton-agregar-futbolito"><i class="fas fa-cart-plus"></i></a>
                </div>
                <div class="vs">
                    <img src="/img/barcelona.png" alt="barcelona" class="img-equipo">
                    <h3>VS</h3>
                    <img src="/img/real-madrid.png" alt="real-madrid" class="img-equipo">
                    <a href="#agregar-futbolito-barca-madrid" class="boton-agregar-futbolito"><i class="fas fa-cart-plus"></i></a>
                </div>
                <div class="vs">
                    <img src="/img/mexico.png" alt="mexico" class="img-equipo">
                    <h3>VS</h3>
                    <img src="/img/brasil.png" alt="brasil" class="img-equipo">
                    <a href="#agregar-futbolito-mexico-brasil" class="boton-agregar-futbolito"><i class="fas fa-cart-plus"></i></a>
                </div>
            </div>
        </section>
    </main>
    <script>
        let x = document.getElementById("login-page");
        let y = document.getElementById("main");
        let z = document.getElementById("signup-page");
        x.style.display = "none";
        y.style.filter = "none";
        z.style.display= "none"
        function showLogin(){
            let x = document.getElementById("login-page");
            let y = document.getElementById("signup-page");
            x.style.display= "flex";
            y.style.display="none"
        }
    </script>
    <footer>
        <div class="info-footer">
            <img src="/img/logo_160_x_160_blanco.svg" alt="logo" id="logo-footer">
            <div class="lista-footer">
                <a href="#AvisoPrivacidad"></a>Aviso de Privacidad</a>
                <a href="#TerminosCondiciones"></a>Terminos y Condiciones</a>
                <a href="#Politicas"></a> Póliticas de devolución</a>
            </div>
            <div class="redes-sociales">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-whatsapp"></i>
            </div>
        </div>
        <div>
            <a href="#Legal" class="legal">© 2021 GAMES</a>
        </div>
    </footer>
</body>
</html>