<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="/css/home-styles.css">
    <link rel="stylesheet" href="/css/modal-styles.css">
    <title>Games Home</title>
</head>
<body>
    <header>
        <div class="opciones-izquierda-header">
            <i class="fas fa-bars"></i>
            <i class="fas fa-search"></i>
        </div>
        <nav class="nav-bar">
                <a href="#">Tableros</a>
                <a href="#">Futbolitos</a>
                <a href="#">Maquinitas</a>
                <a href="#">Accesorios</a>
                <a href="#">Contacto</a>
        </nav>
        <div class="contenedor-logo">
            <a href="/"><img src="/img/logo_160_x_160_blanco.svg" alt="logo" id="logo-principal"></a>
        </div>
        <div class="opciones-derecha-header">
                <label for="desplegar">
                    <i class="fas fa-shopping-cart btn_despiega"></i>
                </label>
                <a href="/login"><i class="fas fa-user"></i></a>
        </div>

    </header>
    <input type="checkbox" name="desplegar" id="desplegar" hidden>
    <div class="model-overlay active" ><!--caja transparente-->
        <div class="modal"><!--caja blanca-->
            <div id="form">
                <h2>Lista de productos</h2>
                <form action="/shoppingCart" method="get" id="formulario">
                    <a href="/productDetail">
                        <div class="productoLista">
                            <div class="eliminar">
                                <img src="/img/cancel_black_24dp.svg" alt="">
                            </div>
                            <div>
                                <img src="/img/maquinita-izquierda.png" alt="imagen de producto" class="imagenLista">
                            </div>
                            <div>
                                <p class="nombreLista">
                                    Pro System Audiotek Tablero Arcade Videojuegos
                                </p>
                            </div>   
                        </div>
                    </a>
                    <a href="/productDetail">
                        <div class="productoLista">
                            <div class="eliminar">
                                <img src="/img/cancel_black_24dp.svg" alt="">
                            </div>
                            <div>
                                <img src="/img/maquinita-izquierda.png" alt="imagen de producto" class="imagenLista">
                            </div>
                            <div>
                                <p class="nombreLista">
                                    Pro System Audiotek Tablero Arcade Videojuegos
                                </p>
                            </div>   
                        </div>
                    </a>
                    <a href="/productDetail">
                        <div class="productoLista">
                            <div class="eliminar">
                                <img src="/img/cancel_black_24dp.svg" alt="">
                            </div>
                            <div>
                                <img src="/img/maquinita-izquierda.png" alt="imagen de producto" class="imagenLista">
                            </div>
                            <div>
                                <p class="nombreLista">
                                    Pro System Audiotek Tablero Arcade Videojuegos
                                </p>
                            </div>   
                        </div>
                    </a>
                    <div class="input-group actions">
                        <a href="/shoppingCart" type="submit" class="botonPrimario">Ver carrito</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <main>
        <section class="seccion-banner">
            <img src="/img/banner.png" alt="banner" class="banner-img">
        </section>
        <section class="seccion-maquinita">
            <img src="/img/maquinita-derecha.png" alt="img-maquinita" class="img-maquinita">
            <div class="descripcion-y-juegos">
                <div class="descripcion-maquinita">
                    <p id="descripcion-maq-1">Maquinita de videojuegos profesional</p>
                    <p id="descripcion-maq-2">Incluye más de 6000 juegos de multiples sistemas</p>
                    <p id="descripcion-maq-3">Y 60 titulos de XB360</p>
                </div>
                <div class="catalogo-juegos-maq">
                    <img src="/img/gtav.jpg" alt="gtav">
                    <img src="/img/halo4.jpg" alt="halo4">
                    <img src="/img/minecraft.jpg" alt="minecraft">
                    <img src="/img/fifa19.jpg" alt="fifa19">
                </div>
        </section>
        <section class="seccion-tablero">
            <img src="/img/tablero.png" alt="img-tablero" class="img-tablero">
            <div class="catalogo-juegos-tab">
                <img src="/img/kof.png" alt="kof">
                <img src="/img/street-fighter.png" alt="street-fighter">
                <img src="/img/metal-slug.jpg" alt="metal-slug">
                <img src="/img/mario-bros.jpg" alt="mario-bros">
                <img src="/img/donkey-kong.png" alt="donkey-kong">
                <img src="/img/pac-man.jpg" alt="pac-man">
                <img src="/img/bomberman.png" alt="bomberman">
                <img src="/img/cadillacs.jpg" alt="cadillacs">
                <img src="/img/bubble.jpg" alt="bubble">
            </div>
        </section>
        <section class="seccion-futbolito">
            <img src="/img/futbolito.png" alt="img-futbolito" class="img-futbolito">
            <div class="equipos">
                <div class="vs">
                    <img src="/img/chivas.png" alt="chivas" class="img-equipo">
                    <h3>VS</h3>
                    <img src="/img/america.png" alt="america" class="img-equipo">
                </div>
                <div class="vs">
                    <img src="/img/barcelona.png" alt="barcelona" class="img-equipo">
                    <h3>VS</h3>
                    <img src="/img/real-madrid.png" alt="real-madrid" class="img-equipo">
                </div>
                <div class="vs">
                    <img src="/img/mexico.png" alt="mexico" class="img-equipo">
                    <h3>VS</h3>
                    <img src="/img/brasil.png" alt="brasil" class="img-equipo">
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="info-footer">
            <img src="/img/logo_160_x_160_blanco.svg" alt="logo" id="logo-footer">
            <div class="lista-footer">
                <a href="#AvisoPrivacidad"></a>Aviso de Privacidad</a>
                <a href="#TerminosCondiciones"></a>Terminos y Condiciones</a>
                <a href="#Politicas"></a> Póliticas de devolución</a>
            </div>
            <div class="redes-sociales">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-whatsapp"></i>
            </div>
        </div>
        <div>
            <a href="#Legal" class="legal">2021 GAMES</a>
        </div>
    </footer>
</body>
</html>