<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="/css/home-styles.css">
    <title>Games Home</title>
</head>
<body>
    <header>
        <div class="content-logo">
            <img src="/img/logo_160_x_160.svg" alt="logo" id="logo-principal">
        </div>
        <div class="content-navBar">
            <i class="fas fa-bars"></i>
        </div>
        <div class="opciones-derecha">
            <div class="content-buscador">
                <i class="fas fa-search"></i>
            </div>
            <div class="content-carrito">
                <i class="fas fa-shopping-cart"></i>
            </div>
            <div class="content-usuario">
                <a href="/login"><i class="fas fa-user"></i></a>
            </div>
        </div>
    </header>
    <main>
        <section id="sectionBanner">
            <p>Colocar imagenes de banner</p>
        </section>
        <section id="sectionMaquinita">
    
        </section>
        <section id="sectionTablero">
    
        </section>
        <section id="sectionFutbolito">
    
        </section>
    </main>
    <footer>
        <div class="info-footer">
            <div class="content-logo">
                <img src="/img/logo_160_x_160.svg" alt="logo" id="logo-footer">
            </div>
            <div class="lista-footer">
                <ul>
                    <li><a href="#AvisoPrivacidad"></a>Aviso de Privacidad</li>
                    <li><a href="#TerminosCondiciones"></a>Terminos y Condiciones</li>
                    <li><a href="#Politicas"></a> Póliticas de devolución</li>
                </ul>
            </div>
            <div class="redes-sociales">
                <div class="facebook">
                    <i class="fab fa-facebook-f"></i>
                </div>
                <div class="instagram">
                    <i class="fab fa-instagram"></i>
                </div>
                <div class="whatsapp">
                    <i class="fab fa-whatsapp"></i>
                </div>
            </div>
        </div>
        <div class="legal">
            <a href="#">2021 GAMES</a>
        </div>
    </footer>
</body>
</html>