<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/login-styles.css" rel="stylesheet">
    <title>Games-Tableros</title>
</head>
<body>
        <div class="contenedor">
            <div class="formulario">
                <div class="cabecera">
                    <div class="logo-cabecera-formulario">
                        <img src="/img/logo_160_x_160.svg" alt="logo" id="logo-principal">
                    </div>
                    <h3 id="NombrePagina">Tableros Games</h3>
                    <div class="botones-cabecera-formulario">
                        <button class="random-formulario"></button>
                        <button class="maximizar-formulario"></button>
                        <button class="cerrar-formulario"></button>
                    </div>
                </div>
                <div class="cuerpo-formulario">
                    <form action="" method="get" classs="cuerpo-formulario">
                    <input type="text" placeholder="Email or mobile number" class="user-profile-input" name="user-profile" required>
                    <input type="password" placeholder=" Password" class="password-input" name="password" required>
                    <button class="login-submit">Log in</button>
                    <input type=button class="signup-redirection" onClick="location.href='/signup'"value='Sign Up'>
                    <!-- <button class="signup-redirection">Sign Up</button> -->
                </form>
                <div class="remember-form">
                    <input type="checkbox" checked="checked" name="remember">
                    Remember me
                </div>
                </div>
                <div class="pie-formulario">
                    <div class="remember-footer">
                    <input type="checkbox" checked="checked" name="remember" >
                    Remember me
                </div>
                    <button class="password-olvidada">Forgot password</button>
                </div>
            </div>
        </div>
</body>

</html>