<%- include("./partials/head") %>
<body>
     <main id="areaPrincipal">
     	<div id="conteNum">
	        <p id="numero">404</p>
	    </div>
        <div id="leyenda">
	           <div id="mensaje">
	        	
	            <div>
	            	<p>¡UH OH! Estas perdido.</p>
		            <p>
		            	La página que busca no existe. Cómo llegaste aquí es un misterio. Pero puede hacer clic en el botón de abajo para volver a la página de inicio.
		        	</p>
	            </div>
	            <div id="botonera">
						<a  href="/" class="botonPrimario">
							Regresar a Inicio
						</a>
				</div>
	        </div>
        </div>
       	<div id="espacio">
	        
	    </div>
        
     </main>

</body>
