<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <!-- fuentes externas -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300;600&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/home-styles.css">
    <link rel="stylesheet" href="/css/productDetail-styles.css">
    <title>Games Home</title>
</head>
<body>
    <header>
        <div class="opciones-izquierda-header">
            <i class="fas fa-bars"></i>
            <i class="fas fa-search"></i>
        </div>
        <nav class="nav-bar">
                <a href="#">Tableros</a>
                <a href="#">Futbolitos</a>
                <a href="#">Maquinitas</a>
                <a href="#">Accesorios</a>
                <a href="#">Contacto</a>
        </nav>
        <div class="contenedor-logo">
            <a href="/"><img src="/img/logo_160_x_160.svg" alt="logo" id="logo-principal"></a>
        </div>
        <div class="opciones-derecha-header">
                <i class="fas fa-shopping-cart"></i>
                <a href="/login"><i class="fas fa-user"></i></a>
        </div>

    </header>
    <main id="areaPrincipal">
        <section id="vistaProducto">
        <!-- area imagenes -->
             <div> <!--para centrar despues en vista grande -->
                <article id="imagenProducto">
                    <img src="img/1.webp" alt="">
                </article>
                <article id="carrusel">
                    <div class=flecha>
                        <img src="img/chevron_left_black_24dp.svg" alt="" srcset="">
                    </div>
                    <img src="img/1.webp" alt="">
                    <img src="img/2.webp" alt="">
                    <img src="img/3.webp" alt="">
                    <img src="img/4.webp" alt="">
                    <div class=flecha>
                        <img src="img/chevron_right_black_24dp.svg" alt="" srcset="">
                    </div>
                </article>
            </div>
        <!-- area imagenes -->
        </section>
        <section id="vistaDescripcion">
        <!-- area descripcion -->
            <article id="descripcionProducto">
                <strong>
                    <h2>
                        Pro System Audiotek Tablero Arcade Videojuegos Consola de Videojuegos 3000+ Juegos Joystick Palanca Pandora 5s TV PC Gamer 2 Jugadores Tablero Arcade Multijuegos Pandora Box
                    </h2>
                </strong>
                <h4>
                    ID referencia: 235566 
                </h4>
                <div id="grados">
                    <div id="puntaje">
                        <img src="img/grade_black_24dp.svg" alt="" srcset="">
                        <img src="img/grade_black_24dp.svg" alt="" srcset="">
                        <img src="img/grade_black_24dp.svg" alt="" srcset="">
                        <img src="img/grade_black_24dp.svg" alt="" srcset="">
                        <img src="img/grade_black_24dp.svg" alt="" srcset="">
                        <p>(55)</p>
                    </div>
                </div>
                <div id="descripcion">
                    <p>
                        Disponible. 
                    </p>
                    <ul>
                        <li>3400 JUEGOS INCLUIDOS Con el Tablero arcadeodrás disfrutar de los juegos clásicos de todo tipo de género: Plataformas, Peleas, Carreras, Beat em Up, puzzles, etc.</li>
                        <li>PERFECTA PARA 1 O 2 JUGADORES El tablero aracde está diseñado para 1 o 2 personas, comparte la experiencia de revivir tus juegos favoritos.</li>
                        <li>ALTA DEFINICIÓN Este tablero arcade incluye salidas VGA, USB y tipo Jack, por lo que se puede conectar a una gran variedad de televisores o monitores.</li>
                        <li>DIVERSIÓN A DONDE QUIERA QUE VAYAS Este tablero arcade es un modelo portátil,la consola mide 63 cm de largo y 22 cm de ancho, dimensiones perfectas para transportar de manera sencilla.</li>
                        <li>INCREÍBLE DISEÑO RETRO El tablero arcade cuenta con 2 palancas y 12 botones para realizar distintos movimientos.</li>
                    </ul>
                    <br>
                </div>
            </article>
            <article id="CostoApagar">
                <div id="precios">
                    <h4>US$ 139.99</h4>
                    <h5>US$199.99</h5>
                    <h6>-30%</h6>
                </div>
                <p>Stock: 7</p>
                <p>Cantidad:</p>
                <div id="cantidad">
                    <div>-</div>
                    <div>10</div>
                    <div>+</div>
                </div>
                <br>
                <button class="botonPrimario">Agregar a carrito</button>
            </article>
        <!-- area descripcion -->
        </section>
    </main>
    <footer>
        <div class="info-footer">
            <img src="/img/logo_160_x_160.svg" alt="logo" id="logo-footer">
            <div class="lista-footer">
                <a href="#AvisoPrivacidad"></a>Aviso de Privacidad</a>
                <a href="#TerminosCondiciones"></a>Terminos y Condiciones</a>
                <a href="#Politicas"></a> Póliticas de devolución</a>
            </div>
            <div class="redes-sociales">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-whatsapp"></i>
            </div>
        </div>
        <div>
            <a href="#Legal" class="legal">2021 GAMES</a>
        </div>
    </footer>
</body>
</html>