<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <%- include('partials/modal') %>
    <main id="areaPrincipal">
        <section id="vistaProducto">
        <!-- area imagenes -->
             <div> <!--para centrar despues en vista grande -->
                <article id="imagenProducto">
                    <img src="img/maquinita-izquierda.png" alt="">
                </article>
                <article id="carrusel">
                    <div class=flecha>
                        <img src="img/chevron_left_black_24dp.svg" alt="" srcset="">
                    </div>
                    <img src="img/maquinita-izquierda.png" alt="">
                    <img src="img/maquinita-frente.png" alt="">
                    <img src="img/maquinita-derecha.png" alt="">
                    <img src="img/maquinita-izquierda.png" alt="">
                    <div class=flecha>
                        <img src="img/chevron_right_black_24dp.svg" alt="" srcset="">
                    </div>
                </article>
            </div>
        <!-- area imagenes -->
        </section>
        <section id="vistaDescripcion">
        <!-- area descripcion -->
            <article id="descripcionProducto">
                <strong>
                    <h2>
                        Pro System Audiotek Tablero Arcade Videojuegos Consola de Videojuegos 3000+ Juegos Joystick Palanca Pandora 5s TV PC Gamer 2 Jugadores Tablero Arcade Multijuegos Pandora Box
                    </h2>
                </strong>
                <h4>
                    ID referencia: 235566 
                </h4>
                <div id="grados">
                    <div id="puntaje">
                        <img src="img/grade_black_24dp.svg" alt="" srcset="">
                        <img src="img/grade_black_24dp.svg" alt="" srcset="">
                        <img src="img/grade_black_24dp.svg" alt="" srcset="">
                        <img src="img/grade_black_24dp.svg" alt="" srcset="">
                        <img src="img/grade_black_24dp.svg" alt="" srcset="">
                        <p>(55)</p>
                    </div>
                </div>
                <div id="descripcion">
                    <p>
                        Disponible. 
                    </p>
                    <ul>
                        <li>3400 JUEGOS INCLUIDOS Con el Tablero arcadeodrás disfrutar de los juegos clásicos de todo tipo de género: Plataformas, Peleas, Carreras, Beat em Up, puzzles, etc.</li>
                        <li>PERFECTA PARA 1 O 2 JUGADORES El tablero aracde está diseñado para 1 o 2 personas, comparte la experiencia de revivir tus juegos favoritos.</li>
                        <li>ALTA DEFINICIÓN Este tablero arcade incluye salidas VGA, USB y tipo Jack, por lo que se puede conectar a una gran variedad de televisores o monitores.</li>
                        <li>DIVERSIÓN A DONDE QUIERA QUE VAYAS Este tablero arcade es un modelo portátil,la consola mide 63 cm de largo y 22 cm de ancho, dimensiones perfectas para transportar de manera sencilla.</li>
                        <li>INCREÍBLE DISEÑO RETRO El tablero arcade cuenta con 2 palancas y 12 botones para realizar distintos movimientos.</li>
                    </ul>
                    <br>
                </div>
            </article>
            <article id="CostoApagar">
                <div id="precios">
                    <h4>US$ 139.99</h4>
                    <h5>US$199.99</h5>
                    <h6>-30%</h6>
                </div>
                <p>Stock: 7</p>
                <p>Cantidad:</p>
                <div id="cantidad">
                    <div>-</div>
                    <div>10</div>
                    <div>+</div>
                </div>
                <br>
                <button class="botonPrimario">Agregar a carrito</button>
            </article>
        <!-- area descripcion -->
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>