<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <%- include('partials/modal') %>
    <main id="areaPrincipal">
        <section id="vistaCestadeProductos">
            <div>
                <div id="tablaProductos">
                <!-- encabezados -->
                    <div id="encabeados">
                        <div id="imagen" class="centrado">
                            <strong>
                                <p>Producto</p>
                            </strong> 
                        </div>
                        <div id="precio" class="centrado">
                            <strong>
                                <p>Precio</p>
                            </strong>
                        </div>
                        <div id="canti" class="centrado">
                            <strong>
                                <p>Cantidad</p>
                            </strong>
                        </div>
                        <div id="total" class="centrado">
                            <strong>
                                <p>Total</p>
                            </strong>
                        </div>
                        <div id="Icono" class="centrado">
                            <strong>
                                <p>Operacion</p>
                            </strong>
                        </div>
                    </div>
                <!-- encabezados -->
                <!-- producto -->
                    <div id="productos" class="centrado">
                        <div id="imagen">
                            <img src="img/1.webp" alt="miniatura" class="miniatura">
                            <p>Producto</p>
                            <!-- <strong><p>ID: 235566</p></strong>  -->
                        </div> 
                        <div id="precio" class="centrado">
                            <p> $ 32.99</p>
                        </div>
                        <div id="cantidad" class="centrado">
                            <div class="textoTabla">-</div>
                            <div class="textoTabla">10</div>
                            <div class="textoTabla">+</div>
                        </div>
                        <div id="imagen">
                            <p>$ 65.98</p>
                        </div>
                        <div id="Icono" class="centrado">
                            <img src="img/cancel_black_24dp.svg" alt="">
                        </div>
                    </div>
                <!-- producto -->
                <!-- producto -->
                    <div id="productos" class="centrado">
                        <div id="imagen">
                            <img src="img/1.webp" alt="miniatura" class="miniatura">
                            <p>Producto</p>
                            <!-- <strong><p>ID: 235566</p></strong>  -->
                        </div> 
                        <div id="precio" class="centrado">
                            <p> $ 32.99</p>
                        </div>
                        <div id="cantidad" class="centrado">
                            <div class="textoTabla">-</div>
                            <div class="textoTabla">10</div>
                            <div class="textoTabla">+</div>
                        </div>
                        <div id="imagen">
                            <p>$ 65.98</p>
                        </div>
                        <div id="Icono" class="centrado">
                            <img src="img/cancel_black_24dp.svg" alt="">
                        </div>
                    </div>
                <!-- producto -->
                <!-- producto -->
                    <div id="productos" class="centrado">
                        <div id="imagen">
                            <img src="img/1.webp" alt="miniatura" class="miniatura">
                            <p>Producto</p>
                            <!-- <strong><p>ID: 235566</p></strong>  -->
                        </div> 
                        <div id="precio" class="centrado">
                            <p> $ 32.99</p>
                        </div>
                        <div id="cantidad" class="centrado">
                            <div class="textoTabla">-</div>
                            <div class="textoTabla">10</div>
                            <div class="textoTabla">+</div>
                        </div>
                        <div id="imagen">
                            <p>$ 65.98</p>
                        </div>
                        <div id="Icono" class="centrado">
                            <img src="img/cancel_black_24dp.svg" alt="">
                        </div>
                    </div>
                <!-- producto -->
                </div>
            </div>
        </section>
        <section id="vistaPago">
            <form action="#" method="post" id="botonesPago">
                <h2> Subtotal: $ 65.98</h2>
                <div>
                    <input type="button" value="Hacer pago" class="botonPrimario">
                </div>
                <strong><p>-- o --</p></strong>
                <div>
                    <input type="button" value="Shop Pay" class="botonPrimario">
                </div>
                <div>
                    <input type="button" value="Google Pay" class="botonPrimario">
                </div>
                <div>
                    <input type="button" value="Paypal" class="botonPrimario">
                </div>
                <div>
                    <input type="button" value="Amaon Pay" class="botonPrimario">
                </div>
            </form>
        </section>
    </main>
     <%- include('partials/footer') %>
</body>
</html>