<div class="signup" id="signup-page" hidden>
    <div class="formulario-signup" id="formus">
        <div class="cabecera">
            <div class="logo-cabecera-formulario">
                <img src="/img/logo_160_x_160.svg" alt="logo" id="logo-principal-cabecera">
            </div>
            <h3 id="NombrePagina">Tableros Games</h3>
            <div class="botones-cabecera-formulario">
                <!-- <button class="random-formulario"></button>
                <button class="maximizar-formulario"></button> -->
                <button class="cerrar-formulario" onclick="document.getElementById('formus').style.display='none',document.getElementById('formu').style.display='none'"></button>
            </div>
        </div>
        <div class="cuerpo-formulario">
            <form action="" method="POST" class="cuerpo-formulario">
                <input type="text" placeholder="Nombre Completo" class="user-profile-input" name="nombreCompleto"required>
                <input type="text" placeholder="Email" class="user-profile-input" name="user-email" required>
                <input type="text" placeholder="Phone Number" class="user-profile-input" name="user-number" required>
                <input type="password" placeholder=" Password" class="user-profile-input" name="password" required>
                <input type="password" placeholder="Confirm Password" name="password-confirmation" class="user-profile-input">
                <div class="botones-formularios">
                    <button class="signup-button">Sign Up</button>
                    <input type=button class="login-redirection" value='Log In'>
                </div>
            </form>
        </div>
        <div class="pie-formulario">
        </div>
    </div>
</div>