<%- include("./partials/head") %>
<div class="login-container">
    <div class="loginform-container">
        <div class="loginleft"></div>
        <div class="loginright">
            <form action="/" method="get" id="signupform">
                <h1>Registro</h1>
                <input type="text" name="email" id="email" placeholder="Introduce tu correo electrónico">
                <input type="text" name="name" id="name"placeholder="Introduce tu nombre completo">
                <input type="password" name="password" id="password" placeholder="Contraseña">
                <input type="password" placeholder="Contraseña de nuevo" id="password2">
                <input type="submit" value="ENVIAR" id="conectar" onclick="">
                <a href="/login" id="login">Ya tengo cuenta</a>
            </form>
        </div>
    </div>
</div>