* {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    margin: 0;
}

A:link {
    color: #ffffff;
    text-decoration: none;
}
A:hover {
    color: #ffffff;
    text-decoration: none
}
A:visited {
    color: #ffffff;
    text-decoration: none
}

/* Comienza Header */

header {
    width: 100%;
    background-color: #333333;
    height: 48px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo-principal{
    width: 32px;
}

.opciones-derecha-header, .opciones-izquierda-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

#search-der {
    display: none;
}

.fa-bars, .fa-search, .fa-shopping-cart, .fa-user{
    margin: 24px;
}

.nav-bar {
    display: none;
}


.nav-bar a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding: 5px ;
    font-size: 17px;
}

/* Termina Header */


/* Comienza Footer */

#sectionBanner {
    background-color: red;
    height: 550px;
    margin: 0px;
}

footer {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.info-footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo-footer{
    width: 40px;
}

.lista-footer {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: center;
    padding: auto;
    color: #ffffff;
}

.redes-sociales {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

.redes-sociales i {
    padding: 8px;
}

.legal {
    text-decoration: none;
    color: #ffffff;
}

@media (min-width: 790px){
    body {
        width: 100vw;
    }

    header {
        justify-content: space-around;
    }

    .fa-bars{
        display: none;
    }

    #logo-principal{
        order: -1;
        margin-left: 48px;
    }

    #search-der {
        display: block;
    }

    #search-izq {
        display: none;
    }

    .nav-bar{
        display: block;
        justify-content: space-between;
    }

    .nav-bar a{
        margin: 0 10px;
    }

    .lista-footer {
        flex-direction: row;
        justify-content: space-around;
    }

    .lista-footer a {
        margin: 0 16px;
    }

    .redes-sociales {
        flex-direction: row;
        justify-content: space-around;
    }

    .redes-sociales i {
        margin: 0 16px;
        font-size: 24px;
    }
}

@media (min-width: 1200px){
    header {
        padding: 0 10%; 
    }
}