body {
  margin: 0;
}
.login {
  display: flex;
  position: absolute;
  z-index: 2;
  overflow-x: hidden;
}
/* .contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: none;
} */

#logo-principal {
  width: 30px;
}
#logo-principal-cabecera {
  height: 90%;
}
.cabecera {
  position: relative;
  display: flex;
  height: 40px;
  width: 100%;
  background: rgba(51, 51, 51, 0.8);
  color: #888;
  background-size: cover;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  overflow: hidden;
  align-items: center;
}
.botones-cabecera-formulario {
  position: absolute;
  right: 5%;
}
#NombrePagina {
  position: absolute;
  right: 40%;
  color: white;
}
.logo-cabecera-formulario {
  position: absolute;
  left: 5%;
  height: 100%;
}
.formulario-hide {
  animation-name: hide;
  animation-duration: 0.5s;
}
@keyframes show {
  from {
    top: -25vh;
  }
  to {
    top: 64px;
  }
}
@keyframes hide {
  from {
    top: 64px;
  }
  to {
    top: -25vh;
  }
}
@keyframes trans-login-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
@keyframes trans-login-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
.formulario {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 25vh;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  border: none;
  overflow: hidden;
  box-shadow: 0 5px 15px #888;
  z-index: 2;
  position: fixed;
  top: 64px;
  left: 73%;
  animation-name: hide;
  animation-duration: 0.5s;
}
.remember-form {
  display: none;
}

/* input[type="checkbox"]:checked + .formulario {
  opacity: 0;
}

input[type="checkbox"]:checked {
  box-shadow: 0 0 0 3px hotpink;
} */

.cerrar-formulario {
  background: rgba(255, 59, 48, 0.8);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-color: transparent;
}
.cerrar-formulario:hover {
  background: rgba(255, 49, 58, 0.9);
}
.maximizar-formulario {
  background: rgba(255, 204, 0, 0.8);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-color: transparent;
}
.maximizar-formulario:hover {
  background: rgba(255, 214, 10, 0.9);
}
.random-formulario {
  background: rgba(52, 199, 89, 0.8);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-color: transparent;
}
.random-formulario:hover {
  background: rgba(52, 215, 75, 0.9);
}

.cuerpo-formulario {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  position: relative;
}
.botones-formularios {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.user-profile-input,
.password-input,
.login-submit,
.signup-redirection {
  border-radius: 25px;
  width: 80%;
  margin: 10px;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(210, 210, 215);
  box-sizing: border-box;
}

.login-submit {
  background-color: #0071e3;
  width: 50%;
  color: whitesmoke;
  margin-bottom: 10px;
  border: none;
  max-width: 80px;
}
.login-submit:hover {
  background-color: #0d77e0;
}
.signup-redirection {
  background-color: #0071e3;
  width: 50%;
  color: whitesmoke;
  /* position: relative;
  transform: translateY(80px); */
  border: none;
  max-width: 80px;
}
.signup-redirection:hover {
  background-color: #0d77e0;
}
.user-profile-input {
  text-align: center;
}
.password-input {
  text-align: center;
}

.pie-formulario {
  display: flex;
  background: rgba(51, 51, 51, 0.8);
  color: #888;
  height: 40px;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  opacity: 100%;
  padding-left: 20px;
  padding-right: 20px;
  white-space: nowrap;
}
.remember-footer {
  font-size: 1em;
}
.password-olvidada {
  border-radius: 20px;
  background-color: transparent;
  color: #0071e3;
  border: none;
  text-decoration: underline;
  font-size: 1em;
}
.password-olvidada:hover {
  background-color: rgb(109, 109, 109);
}

@media only screen and (max-width: 600px) {
  .logo-cabecera-formulario,
  #NombrePagina,
  .remember-footer {
    display: none;
  }
  .remember-form {
    display: flex;
    position: absolute;
    top: 95%;
  }

  .login-submit {
    background-color: #0071e3;
    color: whitesmoke;
    margin-bottom: 10px;
    border: none;
    width: 128px;
  }
  .cabecera {
    position: relative;
    display: flex;
    height: 5%;
    width: 100%;
    background-color: #333;
    color: #888;
    background-size: cover;
    border-radius: none;
    overflow: hidden;
    align-items: center;
    justify-content: space-evenly;
  }
  .botones-cabecera-formulario {
    display: flex;
    justify-content: left;
  }
  .formulario {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: white;
    border-radius: 0px;
    border: 0;
    overflow: visible;
    box-shadow: 0 5px 15px #888;
    top: 0%;
    left: 0%;
    visibility: hidden;
  }
  .pie-formulario {
    border-radius: 0;
  }
}
