body {
  margin: 0;
}

.signup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  position: absolute;
  z-index: 2;
}

.cabecera {
  position: relative;
  display: flex;
  height: 5%;
  width: 100%;
  background-color: #333;
  color: #888;
  background-size: cover;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  overflow: hidden;
  align-items: center;
}
.botones-cabecera-formulario {
  position: absolute;
  right: 5%;
}
#NombrePagina {
  position: absolute;
  right: 35%;
  font-size: 0.8em;
}
.logo-cabecera-formulario {
  position: absolute;
  left: 5%;
}
.formulario {
  display: flex;
  flex-direction: column;
  width: 35vw;
  height: 73vh;
  background-color: white;
  border-radius: 30px;
  border: none;
  overflow: hidden;
  box-shadow: 0 5px 15px #888;
  position: absolute;
}

.cerrar-formulario {
  background: rgba(255, 59, 48, 0.8);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-color: transparent;
}
.cerrar-formulario:hover {
  background-color: #ff453a;
}
.cerrar-formulario:active + .contenedor {
  display: none;
}
.maximizar-formulario {
  background-color: #ffcc00;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-color: transparent;
}
.maximizar-formulario:hover {
  background-color: #ffd60a;
}
.random-formulario {
  background-color: #34c759;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-color: transparent;
}
.random-formulario:hover {
  background-color: #32d74b;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cuerpo-formulario {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  position: relative;
  z-index: 2;
}
.cuerpo-formulario2 {
  position: relative;
  top: -17%;
}
.user-profile-input,
.password-input,
.login-submit-form,
.signup-redirection {
  border-radius: 25px;
  width: 80%;
  margin: 10px;
  border: 1px solid rgb(210, 210, 215);
  box-sizing: border-box;
  text-align: center;
}

.login-submit-form {
  background-color: #0071e3;
  color: whitesmoke;
  margin-bottom: 10px;
  border: none;
  position: absolute;
  top: 90%;
}
.login-submit-footer {
  display: none;
}
.login-submit-form:hover {
  background-color: #0d77e0;
}
.signup-redirection {
  background-color: #0071e3;
  color: whitesmoke;
  border: none;
}
.signup-redirection:hover {
  background-color: #0d77e0;
}
.user-profile-input {
  text-align: center;
}
.password-input {
  text-align: center;
}

.pie-formulario {
  display: flex;
  background-color: #444;
  color: #888;
  height: 5%;
  width: 100%;
  background-size: cover;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
  align-items: center;
  justify-content: space-evenly;
  opacity: 100%;
}
.password-olvidada {
  border-radius: 20px;
  background-color: transparent;
  color: #0071e3;
  border: none;
  text-decoration: underline;
}
.password-olvidada:hover {
  background-color: rgb(109, 109, 109);
}

@media only screen and (max-width: 600px) {
  .logo-cabecera-formulario,
  .login-submit-form {
    display: none;
  }
  .login-submit-footer {
    display: flex;
    background-color: transparent;
    color: whitesmoke;
    border: none;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .pie-formulario {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .user-profile-input,
  .login-submit,
  .signup-redirection {
    border-radius: 25px;
    width: 80%;
    margin: 10px;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(210, 210, 215);
    box-sizing: border-box;
    font-size: 0.8em;
  }
  .login-submit {
    display: flex;
    box-sizing: border-box;
    background-color: #0071e3;
    color: whitesmoke;
    margin-bottom: 10px;
    border: none;
    width: auto;
    padding: 0 10%;
  }
  .cabecera {
    position: relative;
    display: flex;
    height: 5%;
    width: 100%;
    background-color: #333;
    color: #888;
    background-size: cover;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    overflow: hidden;
    align-items: center;
    justify-content: space-evenly;
  }
  .botones-cabecera-formulario {
    position: absolute;
    right: 2.5%;
    display: flex;
    width: 30%;
    justify-content: space-around;
  }
  .formulario {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: white;
    border-radius: 0px;
    border: none;
    overflow: visible;
    box-shadow: 0 5px 15px #888;
  }
}
