
<%- include("../partials/head") %>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/modal') %>
    <main>

    </main>
    <%- include('../partials/footer') %>
</body>
</html>