
<%- include("../partials/head") %>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/modal') %>
    <main>
        <section class="catalog">
            <%for(let i = 0; i < 16; i++){%>
                <div class="item-catalog">
                    <img src="/img/maquinita-frente.png" alt="" class="img-item-catalog">
                    <h3>Maquinita XB 360 Mario Bros</h3>
                    <h4>$11,490.00</h4>
                    <button class="add-cart-button">Añadir al Carrito</button>
                    <button class="info-button">Información</button>
                </div>
            <%}%>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>